body {
    background-color: rgb(8, 15, 25);
    background-image: 
        linear-gradient(rgb(0, 0, 0), rgba(8, 15, 25)),    
        url(Stellaris-Web-Header_Image.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
}
#Par_Logo {
    height: 50%;
    width: auto;
}
